.THIS {
        width: 100%;
    }
    .THIS .showItems{
        display:block;
    }
    
    .THIS .hideItems{
        display:none !important;

    }

    .THIS .flag-icon{
        width: 20px;
    }

    .THIS .flag-selected{
        margin-right: 10px;
    }
    .THIS .languajeBtn{
        text-align: left;
    }

    .THIS .slds-dropdown__item > a {
        justify-content: flex-start;
    }

    .THIS .slds-dropdown__item > a > span {
        margin-left: 5px;
    }

    .THIS .slds-dropdown-trigger {
        min-width: 120px;
    }