.THIS .detailImage {
	width: 100%;
    height: auto;
}
.THIS .mapIcon{
	margin-right: 5px;
}
.THIS .mapIcon svg{
	fill: #de4a3c;
}
.THIS .title{
	font-size:36px;
}
.THIS .detail{
	font-size:16px;
}
.THIS .event_date{
	font-size:16px;
}
.THIS .LocationText{
	font-size:16px;
}