.THIS .detailImage {
	width: 100%;
    height: auto;
}
.THIS .mapIcon{
	margin-right: 5px;
}
.THIS .mapIcon svg{
	fill: #de4a3c;
}
.THIS .title{
	font-size:36px;
}
.THIS .detail{
	font-size:16px;
}
.THIS .extract{
	font-size:16px;
}

.THIS .event_date{
	font-size:16px;
}
.THIS .LocationText{
	font-size:16px;
}

.THIS .text-block {
	font-size:36px;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 50px;
	color: white;
}
.THIS.container {
  position: relative;
}
@media only screen and (max-width: 768px) {
	.THIS .detailImage {
		position: relative;
    	left: 50%;
    	max-width: 100vw;
    	width: 100vw;
    	transform: translateX(-50%);
	}
}