.THIS .slds-icon-text-default{
	    fill: rgb(255, 255, 255) !important;
}
.THIS .gravity-top {
	position: absolute;
	top: 0px;
	margin-left: 40px;
	font-size: large;
    font-weight: bold;
}
.THIS .gravity-bottom {
	position: absolute;
	bottom: 60px;
	margin-left: 40px;
	font-size: large;
    font-weight: bold;
}
.THIS .bottom-line {
	border-bottom: 2px solid rgb(221, 219, 218);
}   
.THIS .no-margin {
	margin: 0px;
}   