.datatable {
    h1 {
        font-size: 40px;
    }
    .slds-card {
        border: none;
        border-bottom: 1px solid;
        padding-top: 6px;
        padding-bottom: 30px;
    }
    .search-element {
        display: inline-block;
        min-width: 100%;
        height: 50px;
        .searchInput {
            padding: 0;
            border: none;
            height: 100%;
            &::placeholder {
                background-image: url('sfsites/c/resource/Assets/Assets/Icons/SearchIcon.svg');
                background-repeat: no-repeat;
                height: 23px;
                width: 23px;
            }
        }
        .icons-group {
            display: table-cell;
            float: right;
            .cancelSearch {
                border: none;
                background: none;
                background-size: 23px 23px;
            }
            // .filterIcon {
            // }
        }
    }
    .modal {
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
        .modal__content {
            position: absolute;
            height: 100vh;
            width: 100%;
        }
        .modal__footer {
            bottom: 0;
            position: absolute;
        } 
        .filter {
            &.active {
                background-color: aqua;
            }
        }  
    }
    footer.slds-card__footer {
        padding: 0;
    }
}