.datatable {
    .slds-card {
        border: none;
        border-bottom: 1px solid;
        padding-top: 6px;
        padding-bottom: 30px;
    }
    .checkbox {
        width: 100%;
        text-align: -webkit-right;
        display: none;
    }
    
    span {
        font-weight: bold;
    }
    footer.slds-card__footer {
        padding: 0;
    }
}