.accordion {
  font-size: medium;
}
.accordion .slds-button:hover,
.accordion .slds-button:focus {
  color: initial;
  box-shadow: none;
}
.accordion .slds-button.slds-button_reset {
  width: 100%;
  color: #C0C0C0;
}
.accordion .slds-button.slds-button_reset:after {
  content: url('sfsites/c/resource/Assets/Assets/Icons/arrow.svg');
  float: right;
  margin-left: auto;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.accordion .slds-button.slds-button_reset.active:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion .slds-button.slds-button_reset .title {
  max-width: 80%;
  display: inline-block;
}
.accordion .slds-accordion_content {
  color: #333333;
  height: auto;
  overflow: hidden;
  display: block;
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.accordion .scale-out-ver-top {
  max-height: 0;
}
