.accordion {
    background-color: transparent;
    color: #7F7F7F;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid #7F7F7F;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: .4s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.accordeon-item-container{
    margin-bottom: 39px;
}
.chevron-icon{
    line-height: 22px;
}
.accordion.active{
    border-bottom: none;
    background-color: transparent;
    margin-bottom: 0;
}
.accordion.active .chevron-icon {
    transform: rotate(180deg);
}
.panel{
    padding: 0 10px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel.active{
    border-bottom: 1px solid #7f7f7f;
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
    border-top: none;
    margin-bottom: 10px;
}
.panel label{
    width: 100%;
    display: flex;
    flex-direction: row;
    line-height: 16px;
    color: #7F7F7F;
    padding-bottom: 10px;
}
.panel label:first-child{
    padding-top: 10px;
}
.panel label input[type=checkbox]{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.panel label input[type=radio]{
    margin-right: 5px;
}
.panel label input[type=radio],.panel label input[type=checkbox]{
    cursor: pointer;
}
select{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
    border: 1px solid #7F7F7F;
    border-radius: 0;
    color: #7F7F7F;
    background: transparent;
    height: auto;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: auto;
}
select:hover{
    cursor: pointer;
}
.btn-filter-remove {
    margin-bottom: 39px;
}