.THIS .detailImage {
	width: 100%;
    height: auto;
}
.THIS .title{
	font-size:36px;
}
.THIS .detail{
	font-size:16px;
}

.THIS .text-block {
	font-size:36px;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 50px;
	color: white;
}

.THIS.container {
  position: relative;
}