.THIS .detailImage {
	width: 100%;
    height: auto;
}
.THIS .title{
	font-size:36px;
}
.THIS .detail{
	font-size:16px;
}

.THIS .text-block {
	font-size:36px;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	top: 12%;
	transform: translateY(-50%);
	margin-left: 50px;
	color: white;
}



.THIS.container {
  position: relative;
}

@media only screen and (max-width: 768px) {
	.THIS .detailImage {
		position: relative;
    	left: 50%;
    	max-width: 100vw;
    	width: 100vw;
    	transform: translateX(-50%);
	}
    .THIS .text-block {
	font-size:20px;
	position: absolute;
	background: rgba(0, 0, 0, 0.6);
	text-align: left;
	top: 6%;
	transform: translateY(-50%);
	color: white;
	}
}