.THIS .div_render_components{
	margin-top: 10px;
}
.THIS .modal-backdrop
{
    opacity:0.5 !important;
}
.THIS .h3_formatted_text{
    margin-left:5px;
    font-weight:bold;
    display:inline-block;
}
.THIS .h3_cluster_name{
    margin-right:10px;
    color:#045489;
}