.mobile .card-detail .detail .date-container {
  height: 25px;
  display: flex;
  align-items: center;
}
.mobile .card-detail .detail .date-container .date {
  color: #C0C0C0;
  font-weight: 700;
  font-size: 16px;
  margin-right: 5px;
}
.mobile .card-detail .detail .date-container.event {
  background-color: #121212;
  justify-content: flex-end;
}
.mobile .card-detail .detail .date-container.event .date {
  text-align: right;
  color: #FDFDFD;
}
.mobile .card-detail .detail .location-container {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: right;
}
.mobile .card-detail .detail .location-container a {
  font-size: 12px;
  color: #121212;
  font-weight: 400;
}
.mobile .card-detail .detail .location-container .slds-icon_container {
  background-color: transparent;
}
.mobile .card-detail .detail .location-container .slds-icon_container svg {
  fill: #FF4500;
  width: 17px;
  padding-bottom: 2px;
}
.mobile .card-detail .detail .title-container {
  margin-top: 2px;
  margin-bottom: 20px;
}
@media (orientation: landscape) {
  .mobile .card-detail .detail .title-container {
    margin-bottom: 10px;
  }
}
.mobile .card-detail .detail .title-container .title {
  font-weight: 200;
  font-size: 25px;
  color: #333333;
  font-weight: 300;
}
.mobile .card-detail .detail .main-img-container {
  width: 101vw;
  height: 120px;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}
.mobile .card-detail .detail .main-img-container img {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.mobile .card-detail .detail .body-container {
  border-bottom: 1px solid #C0C0C0;
  padding-bottom: 60px;
}
.mobile .card-detail .detail .body-container p {
  margin-top: 20px;
  font-size: 16px;
  text-align: left;
  color: #333333;
  line-height: 26px;
}
.mobile .card-detail .detail .body-container .banner-img-container {
  margin-top: 20px;
  width: 101vw;
  height: 120px;
  position: relative;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}
.mobile .card-detail .detail .body-container .banner-img-container .banner-img {
  width: 100%;
  position: relative;
}
.mobile .card-detail .detail .body-container img {
  width: 100%;
}
