.tab-container{
    display: flex;
    flex-direction: row;
}
.tab-container .btn-tab-item{
    background: transparent;
    border: none;
    font-weight: 300;
    font-size: 16px;
    width: 120px;
    padding-bottom: 0;
    padding-top: 0;
}
.tab-container .btn-tab-item:hover,.tab-container .btn-tab-item:focus,.tab-container .btn-tab-item:active,.tab-container .btn-tab-item.active{
    outline: none;
}
.tab-container .btn-tab-item:hover span,.tab-container .btn-tab-item:focus span,.tab-container .btn-tab-item:active span,.tab-container .btn-tab-item.active span{
    border-bottom: 3px solid #0070d2;
    font-weight: 700;
}