.THIS .iconClass svg {
    width: 1rem;
    height: 1rem;
}

.THIS .unclickable-span{
    color: lightGray;   
    cursor: default;
    text-decoration: none;
}

.THIS .slds-tree_container {
    max-width: none;
}