.list-container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.spacer {
    border-bottom: 1px solid #C0C0C0;
    width: 80%;
    margin: auto;
}


@media screen and (min-width: 992px) {
    .spacer {
        border: none;
    }
    .list-container {
        flex-flow: initial;
        justify-content: flex-start;
    }
    .slds-col {
        padding: 0 8px;
    }
}