.THIS.slds-scope .sc-pagination {
    list-style: none;
    display: block;
    text-align: center;
}
.THIS.slds-scope .sc-pagination__dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    border: 1px solid #c8cfda;
    background: white;
}
.THIS.slds-scope .sc-pagination__dot_selected {
    background: #d0d6e1;
}
.THIS.slds-scope .sc-pagination li {
    display: inline-block;
}
.THIS.slds-scope .sc-p_none {
    padding: 0;
    position: relative;
}

/* ARROWS */
.THIS .div-prev-button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.THIS .div-next-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
.THIS .arrow {
    position: relative;
    top: 50%;
    margin: 0px 15px;
    margin-top: -12px;
}
.THIS .arrow.left {
    left: 0px;
}
.THIS .arrow.right {
    right: 0px;
}
.THIS .pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}