.THIS.choose-layout{
    display: flex;
    flex-direction: row;
}
.THIS .selectedLayout{
    border: solid 2px #007FEB;
}
.THIS .layout-box{
    cursor:pointer;
    margin-left: 16px;
    margin-right: 16px;
}
.THIS .layout-box:hover{
    opacity: 0.6;
}
.THIS img.choose-layout-img{
    width: 125px;
    height: 97px;
}
.THIS .choose-layout-title{
    font-weight: bold;
}