.THIS .section-title {
	font-size: 1rem;
	font-weight: 700;
}

.THIS.row {
	padding-left: 10px;
}

.THIS .result {
	color: green;
}

.THIS p {
	padding-top: 5px;
	padding-bottom: 10px;
}

.THIS h1{
	font-size: 20px;

}

.THIS .slds-card{
	background: white;
}